admin.ejs
<!DOCTYPE html>
<html>
<head>
    <title>Admin </title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap
/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Biblioteca</h1>
    <h3>Bem-vindo à página Admin</h1>
        <a href="/ ">Voltar</a> -
        <a href="/logout">Sair</a>
</div>
</body>
</html>