<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca</title>
    <link rel='stylesheet'
          href='/stylesheets/style.css' />
</head>
<body>
<p>Projeto <%= title %></p>
<a href="/">Inicial</a> -
<a href="/admin">Admin</a> -
<a href="/login">Entrar</a> -
<a href="/logout">Sair</a>
</body>
</html>