<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Biblioteca</h1>
    <form action="/autentica" method="POST">
        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" name="login" id="login" required class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" name="senha" id="senha" required class="form-control">
        </div>
        <button type="submit" class="btn btn-info">Enviar</button>
        <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>
</body>
</html>